footer {
 background-color: var(--main-color);
 color: #FFFFFF;
 font-size: 14px;
 padding: 15px;
}

footer h3 {
 color: #FFFFFF;
 font-size: 18px;
}

footer ul li {
 margin-bottom: 8px;
}

footer ul li a {
 color: #FFFFFF;
 text-decoration: none;
 transition: all .2s ease-in;
}

footer ul li a:hover {
 color: #333333;
}

footer p {
 color: #FFFFFF;
}

@media (max-width: 767px) {
 footer img {
  width: 50%;
 }
}