@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat+Alternates:ital,wght@0,400;0,500;1,500&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap');

:root {
 --main-color: #FC5C5C;
 --secondary-color: #B4B3FF;
 --third-color: #B24A49;
 --last-color: #FFE0A7;
}

::-webkit-scrollbar {
 width: 0;
}

* {
 font-family: 'Montserrat', sans-serif;
}

body {
 background-image: url(../public/bg.png);
 background-size: 100vw 100vh;
 background-repeat: no-repeat;
}

hr {
 color: #FFFFFF;
}

.navbar {
  color: #FFFFFF;
  font-weight: 400;
  background-color: var(--main-color);
 }

 .navbar .dropdown-menu {
  background-color: var(--main-color);
  border-top-width: 0;
  border-radius: 5px;
 }
 
 .navbar a {
   text-decoration: none;
   color: #FFFFFF;
   transition: .5s;
  }

 h5, h2 {
  font-family: 'Dancing Script';
  font-size: 2rem;
 }

 h6 {
  font-family: 'Montserrat Alternates';
  font-size: 1rem;
 }

 .card {
  cursor: pointer;
 }

.product-card {
 border-radius: 10px;
 overflow: hidden;
 position: relative;
 height: 285px;
 box-shadow: 18px 22px 31px -12px rgba(0, 0, 0, .52);
 -webkit-box-shadow: 18px 22px 31px -12px rgba(0, 0, 0, .52);
 -moz-box-shadow: 18px 22px 31px -12px rgba(0, 0, 0, .52);
}

.product-card .card-img-top {
 height: 85%;
}

.product-card .overlay {
  background: rgba(0, 0, 0, .7);
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  pointer-events: none;
}

.product-card:hover .overlay {
 opacity: 1;
 transform: translateY(0);
}

.card.mision {
 visibility: hidden;
}

.card.mision h1, p {
  visibility: visible;
}

.card.mision h1 {
 color: #FFFFFF;
}

@media (max-width: 1000px), (max-width: 900px), (max-width: 767px), (max-width: 500px), (max-width: 400px) {
 body {
  background-size: 100vw 100vh;
 }

 .card.mision {
  visibility: visible;
  background-color: #FFFFFFCE;
 }

 .card.mision h1 {
  color: #000000;
  margin-top: 25px;
 }

 .card.mision p {
  padding: 15px;
 }
}

@media (max-width: 900px) {
  .home {
   width: 100vw;
   justify-content: center;
   align-items: center;
  }

  .home h2 {
   font-size: 2.8rem;
  }

  .home img {
    width: 0px;
    height: 0px;
   }

  .card-container {
   align-items: center;
   justify-content: center;
  }
  
  .card-container .card {
   width: 380px;
   left: 2.5vw;
  }

  .card-container .col:nth-child(3) {
   margin-top: 50px;
   margin-left: 21vw;
  }

  .card-container .card h2 {
   font-size: 1.5rem;
  }

  .card-container .card p {
   font-size: .8rem;
  }
}

@media (max-width: 415px) {
  .home .d-flex h2 {
   font-size: 3.8rem;
  }

  .home img {
   width: 0px !important;
  }

  .home p {
   font-size: 1rem;
  }

  .card-container .card {
   margin: -7px !important;
  }

  .card-container  .col:nth-child(1), .card-container .col:nth-child(2), .card-container .col:nth-child(3) {
    margin-top: 50px;
    margin-left: 0vw;
  }

  .product-card {
   width: 75%;
   margin-left: 13%;
  }

  .contact {
   margin-top: 50px;
   margin-left: 3vw !important;
  }

 .card.mision {
  visibility: visible;
  background-color: #FFFFFFCE !important;
 }

 .card.mision p {
  padding: 15px;
 }
}